body {

    background-image: url("https://www.usnews.com/object/image/00000179-a8bd-df6c-a97d-bfff6e2f0000/210526-graduation-stock.jpg?update-time=1622033753815&size=responsive640");
    background-size:cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    font-family:'Times New Roman', Times, serif, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #4af4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.signup-container {
    font-family:'Times New Roman', Times, serif, sans-serif;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 60px;
    border: 1px solid #6ae5f397;
    border-radius: 15px;
    background-color: #202121ae;
    color: white;
    box-shadow: 5 5 10px rgba(0, 0, 0, 0.1);
}
.login-link {
    color: rgb(246, 246, 249);
}
  
  .form-group {
    margin-bottom: 20px;
    color:white;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-family:'Times New Roman', Times, serif, sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    color: rgb(15, 14, 14);
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3ae8ee;
    color: #080707;
    border: black;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f144b2;
  }
  